.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;

    h1 {
        margin-bottom: 8px;
        font-size: 48px !important;
    }

    &__block--top {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 24px;
        align-items: center;
        margin-bottom: 16px;

        img {
            grid-column: 1;
            width: 100%;
        }

        h1 {
            grid-column: 2;
        }
    }

    &__info {
        span {
            font-size: 18px;
        }

        span+span {
            position: relative;
            padding-left: 3ch;

            &:before {
                content: "—";
                position: absolute;
                top: 0;
                left: 1ch;
                width: 3ch;
                height: 100%;
            }
        }
    }

    &__phone {
        position: relative;
        padding-right: 24px;

        img {
            position: absolute;
            top: -6px;
            bottom: 0;
            left: auto;
            right: 0;
            height: 24px;
        }
    }
}