.footer {
    position: fixed;
    top: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

    &__button {


        &--pdf {
            color: var(--secondary-color);
            background-color: var(--default-color);
        }
    }
}